/* Waterfall Names */
.date_text {
  font-variant: inherit;
  font-family: monospace;
  text-align: left;
  text-indent: 220px;
}

.small_caps {
  font-variant: small-caps;
  font-family: Impact, Charcoal, sans-serif;
  text-align: left;
  text-indent: 220px;
}

.falls_image {
margin-left: 30px;
}
/* waterfall pages columns */
.columnleft {
  width: 60%;
  background-color:rgb(159, 159, 182);
}
.columnright {
  background-color:rgb(97, 97, 150);
  width: 40%;
}